

    	        <!-- Details -->
        <div id="publication">
            <br>
        </div>
        <div class="py-12">
            <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-12 lg:gap-x-12">
                <div class="lg:col-span-2">
                    <div class="mb-12 lg:mb-0 xl:mr-14 ">
                        <img class="inline" style="height: 220px;display: block; margin-left: 1rem;margin-right: auto;padding-bottom: 1.25rem;" src="images/researcher.webp" alt="alternative" />
                        <div><h3 class="mb-6">Publication</h3></div>
                    </div>
                </div> <!-- end of col -->
                <!-- <div class="lg:col-span-9" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; "> -->
                <div class="lg:col-span-9" style="margin-top: -1rem;">
                    <div class="xl:mt-12" >
                        <ul class="list mb-7 space-y-2">
                            <li class="flex">
                                <i class="fas fa-chevron-right "></i>
                                <div><a href="https://pubmed.ncbi.nlm.nih.gov/35136112/" target="blank" class="no-underline pb-2 p-small"><strong>2022</strong> Molecular characterization of methicillin-resistant Staphylococcus aureus genotype ST764-SCCmec type II in Thailand</a></div>
                            </li>
                            <li class="flex">
                                <i class="fas fa-chevron-right "></i>
                                <div><a href="https://pubmed.ncbi.nlm.nih.gov/35091638/" target="blank" class="no-underline pb-2 p-small"><strong>2022</strong> Whole-genome single nucleotide variant phylogenetic analysis of Mycobacterium tuberculosis Lineage 1 in endemic regions of Asia and Africa</a></div>
                            </li>
                            <li class="flex">
                                <i class="fas fa-chevron-right "></i>
                                <div><a href="https://pubmed.ncbi.nlm.nih.gov/35038342/" target="blank" class="no-underline pb-2 p-small"><strong>2022</strong> The autophagy-resistant Mycobacterium tuberculosis Beijing strain upregulates KatG to evade starvation-induced autophagic restriction</a></div>
                            </li>
                            <li class="flex">
                                <i class="fas fa-chevron-right "></i>
                                <div><a href="https://pubmed.ncbi.nlm.nih.gov/34870573/" target="blank" class="c pb-2 p-small"><strong>2021</strong> SARS-CoV-2 genetic variations associated with COVID-19 pathogenicity</a></div>
                            </li>
                            
                            <li class="flex">
                                <i class="fas fa-chevron-right "></i>
                                <div><a href="https://pubmed.ncbi.nlm.nih.gov/34787541/" target="blank" class="no-underline pb-2 p-small"><strong>2021</strong> Revised nomenclature and SNP barcode for Mycobacterium tuberculosis lineage 2 </a></div>
                            </li>
                        </ul>
                        <div style="text-align: right;padding-top: 0.5rem;">
                            <a href="publication.html" target="_blank" style="font-size: 1em;">
                                Read More &gt&gt;
                            </a>
                        </div>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of container -->
            
        </div>
        <!-- end of details -->
	

